body{
    background-color:whitesmoke;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -20px;
}
nav > h5{
    margin-left: 13.5%;
}
nav > div {
 margin-right: 13.5%;
 
}


.main {
    margin: auto;
    width: 1100px;
  height: 3150px;
  background: white;
  border-radius: 5px;
  border: 2px solid white;
}

.main-header {
  height: 200px;
  background-color: #4d8bd9;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
}

.header-img {
  flex: 1;
}

.header-text {
  flex: 3;
}

.header-img img {
  padding-top: 10%;
  padding-left: 20%;
}

.text-1,
.text-2 {
  padding-left: 10%;
}

.header-text h3 {
  font-size: 45px;
  color: white;
}

.header-text p {
  margin-top: -30px;
  color: white;
}

.text-2 button {
  border-radius: 15px;
  border: none;
  height: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.main-note {
  height: 250px;
  display: flex;
}
.note-1 {
  flex: 2;
  padding-top: 3%;
  padding-left: 5%;
}
.note-2 {
  flex: 1;
  padding-top: 3%;
  margin-left: 30%;
}
.note-3 {
  padding-top: 3%;
  margin-right: 5%;
}
.h1 {
  padding-left: 5%;
}
.skill-1{
    padding-left: 5%;
}
.html {
 border-radius: 5px;
  width: 360px;
  height: 15px;
  background-color: rgb(218, 211, 203);
}
.html-1{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  width: 80%;
  height: 15px;
  background-color: #4d8bd9;
}
.skill{
    display: flex;
}
.skill-2{
    margin-left: 24%;
}
.hr{
    margin-top: 100px;
    color: beige;
}
.work-1{
    padding-left: 5%;
    background-color: white;
    height: 200px;
    border: 1px solid silver;
    width: 800px;
    margin: auto;
    padding-top: 3%;
    border-radius: 15px;
}
.work-2{
    padding-left: 5%;
    background-color: white;
    height: 200px;
    border: 1px solid silver;
    width: 800px;
    margin: auto;
    padding-top: 3%;
    border-radius: 15px;
    margin-top: 3%;
}
.concat{
    padding-left: 5%;
    display: flex;
}
.input1{
    width: 300px;
    height: 30px;
    border: 2px solid #dadada;
    border-radius: 7px;
}
.input{
    margin-top: 3%;
    width: 612px;
    height: 100px;
    border: 2px solid #dadada;
    border-radius: 7px;
  
}

.concat-1{
    margin-left: 20%;
  margin-top: -15px;
}
.send{
    margin-top: 15px;
    border-radius: 15px;
    border: none;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #4d8bd9;
}
.send:hover{
    background-color: antiquewhite;
    color: red;
}
.end{
    margin-left: 40%;
}
.icon{
    margin-left: 70px;
}
